{% extends 'padre.html' %}


{% block bloqueQueCambia %}

    <h2>Familiares mayores de edad</h2>
    <ul>
        
        {% for familiar in familia %}
            
            {% if familiar.edad >= 18 %}
                <li>{{familiar.nombre}} {{familiar.apellido}} de {{familiar.edad}} años.</li>
            {% endif %}
                
        {% endfor %}
    </ul>
    
    <h2>Familiares Menores de edad</h2>
    
    <ul>
        
        {% for familiar in familia %}
            
            {% if familiar.edad < 18 %}
                <li>{{familiar.nombre}} {{familiar.apellido}} de {{familiar.edad}} años.</li>
            {% endif %}

        {% endfor %}
    </ul>
    <br>

    <ul>
        <li>
            <a href="{% url 'Familia' %}">Familia</a>
        </li>
    
        <li>
            <a href="{% url 'Parentesco' %}">Parentesco</a>
        </li>
    </ul>
{% endblock bloqueQueCambia %}
    