{% extends 'padre.html' %}


{% block bloqueQueCambia %}

    <h1>Parentesco</h1>

    <h3>Padres</h3>
    <ul>
        
        {% for familiar in familia %}
            
            {% if familiar.parentesco == "Padre" or familiar.parentesco == "Madre" %}
            <li>{{familiar.nombre}} {{familiar.apellido}} de {{familiar.edad}} años.</li>
            {% endif %}
                
            
        {% endfor %}
            
    </ul>

    <h3>Hermanos</h3>
    <ul>
        
        {% for familiar in familia %}
            
            {% if familiar.parentesco == "Hermano" or familiar.parentesco == "Hermana" %}
            <li>{{familiar.nombre}} {{familiar.apellido}} de {{familiar.edad}} años.</li>
            {% endif %}
                
            
        {% endfor %}
            
    </ul>

    <h3>Primos</h3>
    <ul>
        
        {% for familiar in familia %}
            
            {% if familiar.parentesco == "Primo" or familiar.parentesco == "Prima" %}
            <li>{{familiar.nombre}} {{familiar.apellido}} de {{familiar.edad}} años.</li>
            {% endif %}
                
            
        {% endfor %}
            
    </ul>
    <br>

    <ul>
        <li>
            <a href="{% url 'Familia' %}">Inicio</a>
        </li>

        <li>
            <a href="{% url 'Menor-y-mayor' %}">Menores y Mayores</a>
        </li>
    </ul>
    
{% endblock bloqueQueCambia %}
